In [ ]:
###infosite: https://min-api.cryptocompare.com/documentation?key=Blockchain&cat=blockchainListOfCoins&api_key=29fa56d048dcb48593c544e6e5cf002fc4136ef00acf711cb12eccc19801f9ad

In [88]:
import urllib.request
import pandas as pd
from datetime import datetime

api_key = '29fa56d048dcb48593c544e6e5cf002fc4136ef00acf711cb12eccc19801f9ad'

### Conversion Data

In [62]:
url = 'https://min-api.cryptocompare.com/data/pricemulti?fsyms=ETH,DASH&tsyms=BTC,USD,EUR&api_key=' + api_key
raw_data = pd.read_json(urllib.request.urlopen(url))
raw_data

          DASH        ETH
BTC   0.008885    0.02375
EUR  43.700000  115.69000
USD  47.910000  127.92000

### Daily Pair OHLCV

In [151]:
apicall_coins = ['BTC','ETH']
begining_date = '2019-09-01'

apicall_limit = '100'
# make empty data frame 

for i in apicall_coins:

url = 'https://min-api.cryptocompare.com/data/v2/histoday?fsym=' + apicall_coins + '&tsym=USD&limit=' + apicall_limit + '&api_key=' + api_key
raw_data2 = pd.read_json(urllib.request.urlopen(url).read())
historicaldata1 = raw_data2['Data'].iloc[1]
historicaldata1 = pd.DataFrame(historicaldata1)
#add to data frame instead of making a new data frame
historicaldata1['conversionSymbol'] = apicall_coin
historicaldata1['time'] = pd.to_datetime(historicaldata1['time'],unit='s')
historicaldata1['date'] = historicaldata1['time']
historicaldata1 = historicaldata1.drop('time',axis=1)

,close,conversionSymbol,conversionType,high,low,open,volumefrom,volumeto,date
0,7406.75,BTC,direct,7492.96,7175.85,7207.78,30054.36,2.208757e+08,2019-12-05
1,7558.58,BTC,direct,7607.79,7323.86,7406.75,28169.83,2.098513e+08,2019-12-06
2,7514.86,BTC,direct,7640.51,7503.10,7558.58,14093.87,1.065722e+08,2019-12-07
3,7539.70,BTC,direct,7594.80,7414.51,7514.86,15949.09,1.200003e+08,2019-12-08
4,7350.62,BTC,direct,7667.04,7296.42,7539.70,35089.72,2.621613e+08,2019-12-09

In [152]:
def api_iterator(api_set_limit,earliestdate):
    earliestdate = pd.to_datetime(earliestdate)
    numofdays = abs(datetime.today()- earliestdate)
    numofdays = str(numofdays)
    numofdays = numofdays[0:3]
    iterations =  int(numofdays)/api_set_limit
    return iterations

In [115]:
print(historicaldata1['date'].max())
print(historicaldata1['date'].min())

2020-03-14 00:00:00
2019-12-05 00:00:00

### Historical Daily

In [78]:
url = 'https://min-api.cryptocompare.com/data/blockchain/histo/day?fsym=ETH&api_key=' + api_key
raw_data3 = pd.read_json(urllib.request.urlopen(url))
raw_data3

,Data,HasWarning,Message,RateLimit,Response,Type
Aggregated,False,False,,NaN,Success,100
Data,"[{'id': 7605, 'symbol': 'ETH', 'time': 1581552...",False,,NaN,Success,100
TimeFrom,1581552000,False,,NaN,Success,100
TimeTo,1584144000,False,,NaN,Success,100

In [79]:
historicaldata = raw_data2['Data'].iloc[1]
historicaldata

[{'close': 8773.78,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 8863.91,
  'low': 8690.82,
  'open': 8765.68,
  'time': 1583280000,
  'volumefrom': 22115.34,
  'volumeto': 194233894.05},
 {'close': 9074.82,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 9179.74,
  'low': 8772.83,
  'open': 8773.78,
  'time': 1583366400,
  'volumefrom': 33760.74,
  'volumeto': 305196274.33},
 {'close': 9160.39,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 9183.26,
  'low': 9015.35,
  'open': 9074.82,
  'time': 1583452800,
  'volumefrom': 21090.1,
  'volumeto': 192168163.64},
 {'close': 8903.72,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 9225.42,
  'low': 8880.33,
  'open': 9160.39,
  'time': 1583539200,
  'volumefrom': 20669.17,
  'volumeto': 187063951.77},
 {'close': 8057.67,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 8920.28,
  'low': 8033.06,
  'open': 8903.72,
  'time': 1583625600,
  'volumefrom': 63231.33,
  'volumeto': 533371350.28},
 {'close': 7944.4,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 8200.82,
  'low': 7664.34,
  'open': 8057.67,
  'time': 1583712000,
  'volumefrom': 86700.45,
  'volumeto': 682781069.24},
 {'close': 7894.66,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 8165.09,
  'low': 7758.12,
  'open': 7944.4,
  'time': 1583798400,
  'volumefrom': 53646.28,
  'volumeto': 427332546.47},
 {'close': 7945.36,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 7998.79,
  'low': 7614.48,
  'open': 7894.66,
  'time': 1583884800,
  'volumefrom': 47596.23,
  'volumeto': 372704355.27},
 {'close': 4916.78,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 7984.16,
  'low': 4736.21,
  'open': 7945.36,
  'time': 1583971200,
  'volumefrom': 286243.45,
  'volumeto': 1769476928.68},
 {'close': 5632.58,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 5984.55,
  'low': 3948.92,
  'open': 4916.78,
  'time': 1584057600,
  'volumefrom': 319316.54,
  'volumeto': 1663092005.9},
 {'close': 5492.76,
  'conversionSymbol': '',
  'conversionType': 'direct',
  'high': 5665.57,
  'low': 5220.3,
  'open': 5632.58,
  'time': 1584144000,
  'volumefrom': 62912.09,
  'volumeto': 342426228.63}]

In [80]:
ndf = pd.DataFrame(historicaldata)
ndf

,close,conversionSymbol,conversionType,high,low,open,time,volumefrom,volumeto
0,8773.78,,direct,8863.91,8690.82,8765.68,1583280000,22115.34,1.942339e+08
1,9074.82,,direct,9179.74,8772.83,8773.78,1583366400,33760.74,3.051963e+08
2,9160.39,,direct,9183.26,9015.35,9074.82,1583452800,21090.10,1.921682e+08
3,8903.72,,direct,9225.42,8880.33,9160.39,1583539200,20669.17,1.870640e+08
4,8057.67,,direct,8920.28,8033.06,8903.72,1583625600,63231.33,5.333714e+08
5,7944.40,,direct,8200.82,7664.34,8057.67,1583712000,86700.45,6.827811e+08
6,7894.66,,direct,8165.09,7758.12,7944.40,1583798400,53646.28,4.273325e+08
7,7945.36,,direct,7998.79,7614.48,7894.66,1583884800,47596.23,3.727044e+08
8,4916.78,,direct,7984.16,4736.21,7945.36,1583971200,286243.45,1.769477e+09
9,5632.58,,direct,5984.55,3948.92,4916.78,1584057600,319316.54,1.663092e+09
10,5492.76,,direct,5665.57,5220.30,5632.58,1584144000,62912.09,3.424262e+08

### Available List

In [83]:
url = 'https://min-api.cryptocompare.com/data/blockchain/list?api_key=' + api_key
raw_data4 = pd.read_json(urllib.request.urlopen(url))
raw_data4

,Data,HasWarning,Message,RateLimit,Response,Type
0XBTC,"{'id': 877383, 'symbol': '0XBTC', 'partner_sym...",False,,NaN,Success,100
1ST,"{'id': 28328, 'symbol': '1ST', 'partner_symbol...",False,,NaN,Success,100
1WO,"{'id': 925200, 'symbol': '1WO', 'partner_symbo...",False,,NaN,Success,100
AAC,"{'id': 925291, 'symbol': 'AAC', 'partner_symbo...",False,,NaN,Success,100
ABCC,"{'id': 925864, 'symbol': 'ABCC', 'partner_symb...",False,,NaN,Success,100
ABT,"{'id': 758055, 'symbol': 'ABT', 'partner_symbo...",False,,NaN,Success,100
ABYSS,"{'id': 419711, 'symbol': 'ABYSS', 'partner_sym...",False,,NaN,Success,100
ACCN,"{'id': 716854, 'symbol': 'ACCN', 'partner_symb...",False,,NaN,Success,100
ACE,"{'id': 294364, 'symbol': 'ACE', 'partner_symbo...",False,,NaN,Success,100
ADA,"{'id': 321992, 'symbol': 'ADA', 'partner_symbo...",False,,NaN,Success,100
ADB,"{'id': 468052, 'symbol': 'ADB', 'partner_symbo...",False,,NaN,Success,100
ADH,"{'id': 866454, 'symbol': 'ADH', 'partner_symbo...",False,,NaN,Success,100
ADI,"{'id': 780883, 'symbol': 'ADI', 'partner_symbo...",False,,NaN,Success,100
ADL,"{'id': 127738, 'symbol': 'ADL', 'partner_symbo...",False,,NaN,Success,100
ADT,"{'id': 188858, 'symbol': 'ADT', 'partner_symbo...",False,,NaN,Success,100
ADX,"{'id': 170452, 'symbol': 'ADX', 'partner_symbo...",False,,NaN,Success,100
AE,"{'id': 190978, 'symbol': 'AE', 'partner_symbol...",False,,NaN,Success,100
AEN,"{'id': 924988, 'symbol': 'AEN', 'partner_symbo...",False,,NaN,Success,100
AERGO,"{'id': 928382, 'symbol': 'AERGO', 'partner_sym...",False,,NaN,Success,100
AGI,"{'id': 710156, 'symbol': 'AGI', 'partner_symbo...",False,,NaN,Success,100
AGVC,"{'id': 928332, 'symbol': 'AGVC', 'partner_symb...",False,,NaN,Success,100
AID,"{'id': 368770, 'symbol': 'AID', 'partner_symbo...",False,,NaN,Success,100
AIDOC,"{'id': 684818, 'symbol': 'AIDOC', 'partner_sym...",False,,NaN,Success,100
AIT,"{'id': 777027, 'symbol': 'AIT', 'partner_symbo...",False,,NaN,Success,100
AIX,"{'id': 187030, 'symbol': 'AIX', 'partner_symbo...",False,,NaN,Success,100
ALIS,"{'id': 331603, 'symbol': 'ALIS', 'partner_symb...",False,,NaN,Success,100
ALX,"{'id': 787696, 'symbol': 'ALX', 'partner_symbo...",False,,NaN,Success,100
AMB,"{'id': 238733, 'symbol': 'AMB', 'partner_symbo...",False,,NaN,Success,100
AMLT,"{'id': 925145, 'symbol': 'AMLT', 'partner_symb...",False,,NaN,Success,100
AMM,"{'id': 589881, 'symbol': 'AMM', 'partner_symbo...",False,,NaN,Success,100
...,...,...,...,...,...,...
XDCE,"{'id': 477743, 'symbol': 'XDCE', 'partner_symb...",False,,NaN,Success,100
XES,"{'id': 887706, 'symbol': 'XES', 'partner_symbo...",False,,NaN,Success,100
XET,"{'id': 913066, 'symbol': 'XET', 'partner_symbo...",False,,NaN,Success,100
XMX,"{'id': 921375, 'symbol': 'XMX', 'partner_symbo...",False,,NaN,Success,100
XNG,"{'id': 35953, 'symbol': 'XNG', 'partner_symbol...",False,,NaN,Success,100
XNK,"{'id': 794362, 'symbol': 'XNK', 'partner_symbo...",False,,NaN,Success,100
XOV,"{'id': 929356, 'symbol': 'XOV', 'partner_symbo...",False,,NaN,Success,100
XPAT,"{'id': 920249, 'symbol': 'XPAT', 'partner_symb...",False,,NaN,Success,100
XUC,"{'id': 184221, 'symbol': 'XUC', 'partner_symbo...",False,,NaN,Success,100
XYO,"{'id': 795305, 'symbol': 'XYO', 'partner_symbo...",False,,NaN,Success,100
XZC,"{'id': 30022, 'symbol': 'XZC', 'partner_symbol...",False,,NaN,Success,100
YEE,"{'id': 719272, 'symbol': 'YEE', 'partner_symbo...",False,,NaN,Success,100
YOYOW,"{'id': 322002, 'symbol': 'YOYOW', 'partner_sym...",False,,NaN,Success,100
YUP,"{'id': 921549, 'symbol': 'YUP', 'partner_symbo...",False,,NaN,Success,100
ZAP,"{'id': 684747, 'symbol': 'ZAP', 'partner_symbo...",False,,NaN,Success,100
ZCN,"{'id': 917256, 'symbol': 'ZCN', 'partner_symbo...",False,,NaN,Success,100
ZCO,"{'id': 876390, 'symbol': 'ZCO', 'partner_symbo...",False,,NaN,Success,100
ZEC,"{'id': 24854, 'symbol': 'ZEC', 'partner_symbol...",False,,NaN,Success,100
ZEON,"{'id': 929494, 'symbol': 'ZEON', 'partner_symb...",False,,NaN,Success,100
ZIL,"{'id': 716725, 'symbol': 'ZIL', 'partner_symbo...",False,,NaN,Success,100
ZINC,"{'id': 916851, 'symbol': 'ZINC', 'partner_symb...",False,,NaN,Success,100
ZIP,"{'id': 925165, 'symbol': 'ZIP', 'partner_symbo...",False,,NaN,Success,100
ZIPT,"{'id': 899541, 'symbol': 'ZIPT', 'partner_symb...",False,,NaN,Success,100
ZLA,"{'id': 866472, 'symbol': 'ZLA', 'partner_symbo...",False,,NaN,Success,100
ZMN,"{'id': 912878, 'symbol': 'ZMN', 'partner_symbo...",False,,NaN,Success,100
ZPR,"{'id': 925282, 'symbol': 'ZPR', 'partner_symbo...",False,,NaN,Success,100
ZRX,"{'id': 186277, 'symbol': 'ZRX', 'partner_symbo...",False,,NaN,Success,100
ZSC,"{'id': 341328, 'symbol': 'ZSC', 'partner_symbo...",False,,NaN,Success,100
ZT,"{'id': 932086, 'symbol': 'ZT', 'partner_symbol...",False,,NaN,Success,100
ZXC,"{'id': 920958, 'symbol': 'ZXC', 'partner_symbo...",False,,NaN,Success,100